/* General Styles */
.header {
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  width: 90px;
}

.nav-items {
  padding: 0px 20px;
}

.nav-items > ul {
  font-size: 20px;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.res-card {
  background-color: #bccfb5;
  padding: 10px;
  margin: 10px;
  width: 200px;
  transition: transform 0.2s ease;
}

.res-card:hover {
  transform: scale(1.05);
}

.search {
  padding: 15px;
  width: 100%;
}

.res-logo {
  width: 100%;
}

.filter-btn {
  margin: 15px 0px;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #6fa4a0;
  border: none;
  color: white;
  border-radius: 5px;
}

.filter {
  display: flex;
}
.filter-btn:hover {
  background-color: #558d89;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-items > ul {
    flex-direction: column;
    font-size: 18px;
  }

  .res-card {
    width: 45%; /* Adjust the card width for tablets */
  }

  .filter-btn {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .nav-items > ul {
    font-size: 16px;
  }

  .res-card {
    width: 100%; /* Full width for mobile */
  }

  .filter-btn {
    width: 100%;
    font-size: 16px;
  }
}

.shimmer {
  display: flex;
  flex-wrap: wrap;
}
.shimmer-card {
  margin: 20px;
  width: 200px;
  height: 400px;
  background-color: grey;
}

.login-btn {
  cursor: pointer;
}
