.search-filter {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
}

.search-filter input {
  padding: 10px;
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filters .filter-btn {
  background-color: #dff0d8;
  color: #3c763d;
  padding: 8px 12px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
